#title{
    background-color: #ff4c68;
    color:#fff;
}
h1, h2, h3, h4, h5, h6{
    font-family:"Montserrat";
    font-weight:700;
}
h2{
    
    font-size:3rem;
    line-height:1.5;
}
h3{
    
    font-weight:900;
    font-size:1.5rem;
}
.big-heading{
    font-family:'Montserrat';
    font-weight:900;
    font-size: 3.5rem;
    line-height: 1.5;
}
p{
    color:#8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7%;
}

.iphone-div{
    position:relative;
}
.iphone{
    transform: rotate(25deg);
    width:60%;
    position:absolute;
    right:30%;
}
.testimonial-image{
    width:20%;
    border-radius:100%;
    margin:20px;
}

body{
    font-family:"Montserrat";
}

/* navbar section */

.navbar-brand{
    font-family:"Ubuntu";
    font-size: 2.5rem;
    font-weight:bold;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding:0px 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family:"Montserrat";
}
.download-button{
    margin:5% 3% 5% 0;
}
.icon{
    color:#ef8172;
    margin-bottom:1rem;
} 

/* features section */

#features{
    padding:7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align:center;
    padding:5%;
}
.icon:hover{
    color:#ff4c68;
}

/* testimonials section */

#testimonials{
    text-align:center;
    background-color:#ef8172;
    color:#fff;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding:5%;
}
.press-logo{
    width:15%;
    margin:10px 20px 20px;
}
.carousel-item{
    padding: 7% 15%;;
}
#pricing{
    padding:100px;
    text-align:center; 
}
.price-text{
    font-size:3rem;
    line-height: 1.5;
}

.pricing-column{
    padding:3% 2%;
}

/* media query  */

@media (max-width:1028px)
{
    #title{
        text-align:center;
    }

    .iphone{
        position:static;
        transform: rotate(0);
    }
    .iphone-div{
        margin:auto auto;
    }
}
#cta{
    background-color:#ff4c68;
    padding:7% 15%;
    text-align:center;
   
}
.cta-heading{
    font-family:"montserrat";
    font-weight: 900;
    line-height:1.5;
    font-size:3.5rem;
    color:#fff;
}
#footer{
    background-color:#fff;
    text-align: center;
    padding:7% 15%;

}
.footer-logos{
    margin:20px 10px;
}